<!-- this extends the navbar created in base.html -->
{% extends "base.html" %}

{%block content%}
<style>
body, html {
    height: 100%;
  
    /* The image used */
    background-image: url("../static/j_index_background.png");
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<!-- <div class="container-fluid text-light">
    <iframe src="https://giphy.com/embed/MEMVosUfcO9MSawRv8" width="200" height="200" frameBorder="0" class="giphy-embed" ></iframe><p><a href="https://giphy.com/stickers/jeopardy-world-globe-jeopardy-logo-MEMVosUfcO9MSawRv8"></a></p>
    <h1>Welcome to the JeoPARTY</h1>
</div> -->


<!-- BOXES -->
<section class="p-5">
    <div class="container position-absolute top-50 start-50 translate-middle">
        <div class="row text-center text-light g-4">
            <h1>Welcome to Jeo <em>"PARTY"</em> </h1>
        <div class="container-fluid text-light">
            <iframe src="https://giphy.com/embed/MEMVosUfcO9MSawRv8" width="200" height="200" frameBorder="0" class="giphy-embed" ></iframe><p><a href="https://giphy.com/stickers/jeopardy-world-globe-jeopardy-logo-MEMVosUfcO9MSawRv8"></a></p>
        </div>
        </div>
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card bg-primary text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-joystick"></i>
                        </div>
                        <h3 class="card-title mb-3">Play The Game!</h3>
                        <p class="card-text">
                            Enjoy playing a game of Jeopardy! 
                        </p>
                        <a href="/game" class="btn btn-light btn-lg">PLAY</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-primary text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-bar-chart-fill"></i>
                        </div>
                        <h3 class="card-title mb-3">See The Stats!</h3>
                        <p class="card-text">
                            Fun facts about "Jeopardy"
                        </p>
                        <a href="/stats" class="btn btn-light btn-lg">SEE MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-primary text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-globe-americas"></i>
                        </div>
                        <h3 class="card-title mb-3">View The Map!</h3>
                        <p class="card-text">
                            Another exciting visual!
                        </p>
                        <a href="/map" class="btn btn-light btn-lg">SEE MAP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock%}