<!-- this extends the navbar created in base.html -->
{% extends "base.html" %}
{%block title%}Statistics{% endblock %}
{%block navbar%}
<!-- NAVBAR -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown link
    </a>
    <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Chart</a></li>
    <li><a class="dropdown-item" href="#">Graph</a></li>
    <li><a class="dropdown-item" href="/tribute">Alex is Bae</a></li>
    </ul>
</li>
<!-- END NAVBAR -->
{% endblock%}
{%block stats%}
<div class="container-fluid text-center">
<div class="container_fluid">
    <h2>See The Stats!</h2>

       <div id="plot"></div>
    
</div>
<div>
    PSQL Flask
</div>

<div>
    {% for c in categories %}
    <ul>
        <li>{{c.category}}</li>
        <li>{{c.clue_count}}</li>
    </ul>
    {% endfor %}
</div>
</div>


{% endblock %}
