<!-- this extends the navbar created in base.html -->
{% extends "base.html" %}
{%block title%}Statistics{% endblock %}
{%block navbar%}
<!-- NAVBAR -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown link
    </a>
    <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Chart</a></li>
    <li><a class="dropdown-item" href="#">Graph</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</li>

{% endblock%}
<!-- END NAVBAR -->

{%block content%}



<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <div id="graph1JSON"></div>
    <div id="fig5"></div>
   

    <div class="row p-4">
        <div class="card m-auto" data-aos="fade-down" >
                <div id="chart1"></div>

                   
            
        </div>
    
    <div class="row p-4">
        <div class="card m-auto" data-aos="fade-up">
                <div id="chart3"></div>

                   
            
        </div>
    </div>
    
    
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>

    var graph1 = {{graph1JSON | safe }};
    Plotly.plot('chart1', graph1, {});


    var graph5 = {{fig5 | safe }};
    Plotly.plot('chart3', graph5, {});
    

    
    AOS.init({
        offset:400,
        duration:1000,
    });

</script>









{% endblock %}
