<!-- this extends the navbar created in base.html -->
{% extends "base.html" %}
{%block title%}Trebek Forever{% endblock %}
{%block content%}
<style>
body, html {
    height: 100%;
  
    /* The image used */
    background-image: url("https://www.dropbox.com/s/hru74ce45s3aj0y/bg-gradient.png?raw=1"); 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div class="container">
    <div class="card" >
        <iframe height="500" src="https://www.youtube.com/embed/arsStQAhHVA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
        <div class="card-body">
        <p class="card-text">Alex Trebek was a national treasure.  RIP.</p>
    </div>
  </div>
</div>

{%endblock%}